
    *{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18;
 
}
.main{
    width: 100%;
    height: 16vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom , #003866, #121836);

}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;


}
.logo{
    flex-basis: 20%;
    margin-top: -10px;
    margin-left: -15px;
}
.logo img{
    width: 75px;
    height: 75px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    border: 3px solid rgb(255, 136, 0);
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    opacity: 80%;

}
.logo a:hover img{
    opacity: 100%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li a:hover{

    text-shadow: 0 0 12px #FF0000, 0 0 5px #0000FF;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    margin-top: -2px;
}
body{

    background: #002849;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background: #002849;
    margin-top: 115px;

}

.pulse{
    background: rgb(3, 182, 3);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container .pulse:hover img{
    width: 45px;
    height: 45px;
}

.pulse::before{
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border: 2px solid #44bd32;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    -webkit-animation: animate 1.5s linear infinite;
}
.pulse::after{
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border: 2px solid #44bd32;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    animation-delay: 0.4s;
    -webkit-animation: animate 1.5s linear infinite;
}
@keyframes animate{
    0%{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        opacity: 0;
}
    50%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: 1;
}
    100%{
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        opacity: 0;
}

}
.status{
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background: #002849;
}
.status .text{
    
    font-size: 60px;
    color: aliceblue;
    margin-top: 5px;
}

.footer{

    background-color:  rgb(51, 51, 51);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;

}
.footer-copy{
    height: 5vh;
    margin: auto;
    text-align: center;
}
.footer-copy span{
    height: 5vh;
    margin: auto;
    text-align: center;
}
.footer .copyright{

    color: rgb(177, 177, 177);  
   
}
.footer .copyright:link{
  
    text-decoration: none;  
    margin-top: 0px;    
    font-size: 15px;
}
.footer .copyright:hover{
   
     color: rgb(236, 236, 236);
   
}
.footer .social{

    display: inline-flex;
    height: 15vh;
    width: auto;
}
.social .icon{
    margin :0 20px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.social .icon span{
    position: relative;
    height: 50px;
    width: 50px;
    display: block;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
   
}
.social .icon span iconify-icon{
    font-size: 25px;
    margin-top: 12px;
    background-color: transparent;
    color: black; 
}
.social .icon .upwork iconify-icon{
    margin-top: 14px;
}
.social .icon:hover .upwork iconify-icon{
    margin-top: 14px;
}

.social .icon:hover span iconify-icon{
    font-size: 25px;
    margin-top: 12px;
    background-color: transparent;
    color: rgb(255, 255, 255); 
}
.social .icon span i{
    font-size: 25px;
    margin-top: 12px;
    background-color: transparent;
 
}
.social .icon:hover span {
    color: #fff;
}
.social .icon .tooltip{
    position: absolute;
    top: 0px;
    background-color: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
   
}
.social .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}
.social .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.social .icon:hover span,
.social .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.social .facebook:hover span,
.social .facebook:hover .tooltip,
.social .facebook:hover .tooltip:before{

    background-color: rgb(0, 202, 0);
}
.social .twitter:hover span,
.social .twitter:hover .tooltip,
.social .twitter:hover .tooltip:before{

    background-color: rgb(0, 153, 255);
}
.social .instagram:hover span,
.social .instagram:hover .tooltip,
.social .instagram:hover .tooltip:before{

    background-color: rgb(255, 0, 76);
}
.social .github:hover span,
.social .github:hover .tooltip,
.social .github:hover .tooltip:before{

    background-color: rgb(0, 0, 0);
}
.social .tiktok:hover span,
.social .tiktok:hover .tooltip,
.social .tiktok:hover .tooltip:before{

    background-color: rgb(43, 1, 1);
}
.testing{
    height: 5vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.testing #input{
    text-decoration: none;
    align-content: center;
    font-size: 20px;
 
    
}
.testing #response{
    font-size: 50px;
}
@media only screen and (min-width:1092px){
    body::-webkit-scrollbar {
        width: 8px;
      }
      
      body::-webkit-scrollbar-track {
          background-color: #002849;
      }
      
      body::-webkit-scrollbar-thumb {
        background-color:  rgb(255, 136, 0);
        border-radius: 20px;
        border: 2px solid #003b6b;
      }
      
      body::-webkit-scrollbar-thumb:hover {
        background-color: #555;
      }
    .footer{
    
        background: #003866;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        height: auto;
    
    }
    .footer-copy{
        height: 5vh;
        margin: auto;
        text-align: center;
    }
    .footer-copy span{
        height: 5vh;
        margin: auto;
        text-align: center;
    }
    .footer .copyright{
    
        color: rgb(177, 177, 177);  
       
       
    }
    .footer .copyright:link{
      
        text-decoration: none;  
        margin-top: 0px;    
        font-size: 15px;
    }
    .footer .copyright:hover{
       
         color: rgb(236, 236, 236);
       
    }
}
@media (min-width: 793px ) and (max-width:1091px){
    .footer{

        background:rgb(83, 9, 167);
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        height: auto;
    
    }
    .footer-copy{
        height: 5vh;
        margin: auto;
        text-align: center;
    }
    .footer-copy span{
        height: 5vh;
        margin: auto;
        text-align: center;
    }
    .footer .copyright{
    
        color: rgb(177, 177, 177);  
       
    }
    .footer .copyright:link{
      
        text-decoration: none;  
        margin-top: 0px;    
        font-size: 15px;
    }
    .footer .copyright:hover{
       
         color: rgb(236, 236, 236);
       
    }
}
@media only screen and (max-width:791px){
    
    
    .main{
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        background: #003866;

    
    }
    nav{
        width: 80%;
        position: sticky;
        margin: 20px auto;
        z-index: 1;
        display: flex;
        align-items: center;
    
    
    }
    .logo{
        flex-basis: 20%;
    
    
    }
    .logo img{
        width: 50px;
        height: 50px;
        opacity: 80%;
        align-self: left;
        margin-left: 0px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        border: 2px solid rgb(255, 136, 0);
        border-radius: 8em;
        -webkit-border-radius: 8em;
        -moz-border-radius: 8em;
        -ms-border-radius: 8em;
        -o-border-radius: 8em;
}
    .logo a:hover img{
        width: 50px;
        height: 50px;
        opacity: 100%;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    }
    

    .nav-links{
        flex: 1;
        text-align: center;
        margin-left: 15px;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        margin: 0 3px;
    
    }
    .nav-links ul li a{
        color: white;
        text-decoration: none;
        font-size: 10px;
    }
    .nav-links ul li a:hover{
  
        text-shadow: 0 0 12px #FF0000, 0 0 5px #0000FF;
        transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
        margin-top: -2px;
    } 
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        background: #003866;

    
    }
    .pulse img{
        width: 18px;
        height: 18px;
    }
    .pulse{
        background: rgb(3, 182, 3);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .container .pulse:hover img{
        width: 22px;
        height: 22px;
    }
    
    .pulse::before{
        content: "";
        position: absolute;
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        border: 2px solid #44bd32;
        border-radius: 50%;
        animation: animate 1.5s linear infinite;
        -webkit-animation: animate 1.5s linear infinite;
    }
    .pulse::after{
        content: "";
        position: absolute;
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        border: 2px solid #44bd32;
        border-radius: 50%;
        animation: animate 1.5s linear infinite;
        animation-delay: 0.4s;
        -webkit-animation: animate 1.5s linear infinite;
    }
    @keyframes animate{
        0%{
            transform: scale(0.5);
            -webkit-transform: scale(0.5);
            -moz-transform: scale(0.5);
            -ms-transform: scale(0.5);
            -o-transform: scale(0.5);
            opacity: 0;
    }
        50%{
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            opacity: 1;
    }
        100%{
            transform: scale(1.4);
            -webkit-transform: scale(1.4);
            -moz-transform: scale(1.4);
            -ms-transform: scale(1.4);
            -o-transform: scale(1.4);
            opacity: 0;
    }
    
    }
    .status{
        display: flex;
        height: 10vh;
        justify-content: center;
        align-items: center;
        background: #003866;

    }
    .status .text{
        
        font-size: 25px;
        color: aliceblue;
        margin-top: 5px;
    }
    .footer{
        background: #003866;

        justify-content: center;
         align-items: center;
        text-align: center;
        width: auto;
        height: auto;
        margin-top: 130px;

    }
    .footer-copy{
        height: 5vh;
        margin: auto;
        text-align: center;
    }
    .footer-copy span{
        height: 5vh;
        margin: auto;
        text-align: center;
    }
    .footer .copyright{

        color: rgb(177, 177, 177);  
       
    }
    .footer .copyright:link{
      
        text-decoration: none;  
        margin-top: 0px;    
        font-size: 9px;
    }
    .footer .copyright:hover{
       
         color: rgb(236, 236, 236);
       
    }
.footer .social{
   
    height: 15vh;
    width: auto;
}
.social .icon{
    margin:0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    -moz-transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    -ms-transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    -o-transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.social .icon span{
    position: relative;
    height: 30px;
    width: 30px;
    display: block;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
   
}
.social .icon span iconify-icon{
    font-size: 15px;
    margin-top: 8px;
    background-color: transparent;
    color: black; 
}
.social .icon .upwork iconify-icon{
    margin-top: 10px;
}

.social .icon:hover .upwork iconify-icon{
    margin-top: 7px;
    font-size: 18px;
}

.social .icon:hover span iconify-icon{
    font-size: 20px;
    margin-top: 5px;
    background-color: transparent;
    color: rgb(255, 255, 255); 
}

.social .icon:hover span {
    color: #fff;

}
.social .icon span i{
    font-size: 25px;
    margin-top: 12px;
    background-color: transparent;
 
}

.social .icon .tooltip{
    position: absolute;
    top: 0px;
    background-color: #fff;
    color: #fff;
    font-size: 10px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
   
}
.social .icon:hover .tooltip{
    top: -15px;
    opacity: 1;
    pointer-events: auto;
}
.social .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.social .icon:hover span,
.social .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.social .facebook:hover span,
.social .facebook:hover .tooltip,
.social .facebook:hover .tooltip:before{

    background-color: rgb(0, 202, 0);
}
.social .twitter:hover span,
.social .twitter:hover .tooltip,
.social .twitter:hover .tooltip:before{

    background-color: rgb(0, 153, 255);
}
.social .instagram:hover span,
.social .instagram:hover .tooltip,
.social .instagram:hover .tooltip:before{

    background-color: rgb(255, 0, 76);
}
.social .github:hover span,
.social .github:hover .tooltip,
.social .github:hover .tooltip:before{

    background-color: rgb(0, 0, 0);
}
.social .tiktok:hover span,
.social .tiktok:hover .tooltip,
.social .tiktok:hover .tooltip:before{

    background-color: rgb(43, 1, 1);
}
    
}