body{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18;
    background: #002849;
}

.main{
    width: 100%;
    height: 16vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom , #003866, #121836);
}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;


}
.logo{
    flex-basis: 20%;
    margin-top: -10px;
    margin-left: -15px;
}
.logo img{
    width: 75px;
    height: 75px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    border: 5px solid #001d35;
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    opacity: 80%;

}
.logo a:hover img{
    opacity: 100%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li a:hover{
    font-size: 16px;
    text-shadow: 0 0 12px #FF0000, 0 0 5px #0000FF;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    margin-top: -2px;
}

.status{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #002849;
}
.status .text{
    
    font-size: 60px;
    color: aliceblue;
    margin-top: 5px;
}
.status .text:hover{
    
    color: chartreuse;
}

.tab-content{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    

}
.player2 iframe {
    align-self: center;
    justify-content: center;
    align-items: center;
    width : 698px;
    height : 400px;
    margin-left: 320px;
    border: solid 3px black;
}
.player2 .head{
    font-size: 40px;
    height: 100px;
    margin-left: 430px;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
}

.footer{
    background: #003866;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;

}
.footer-copy{
    height: 5vh;
    margin: auto;
    text-align: center;
}
.footer-copy span{
    height: 5vh;
    margin: auto;
    text-align: center;
}
.footer .copyright{

    color: rgb(177, 177, 177);  
   
   
}
.footer .copyright:link{
  
    text-decoration: none;  
    margin-top: 0px;    
    font-size: 15px;
}
.footer .copyright:hover{
   
     color: rgb(236, 236, 236);
   
}
.footer .social{

    display: inline-flex;
    height: 15vh;
    width: auto;
}
.social .icon{
    margin :0 20px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.social .icon span{
    position: relative;
    height: 50px;
    width: 50px;
    display: block;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
   
}
.social .icon span iconify-icon{
    font-size: 25px;
    margin-top: 12px;
    background-color: transparent;
    color: black; 
}
.social .icon .upwork iconify-icon{
    margin-top: 14px;
}
.social .icon:hover .upwork iconify-icon{
    margin-top: 14px;
}

.social .icon:hover span iconify-icon{
    font-size: 25px;
    margin-top: 12px;
    background-color: transparent;
    color: rgb(255, 255, 255); 
}
.social .icon span i{
    font-size: 25px;
    margin-top: 12px;
    background-color: transparent;
 
}
.social .icon:hover span {
    color: #fff;
}
.social .icon .tooltip{
    position: absolute;
    top: 0px;
    background-color: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
   
}
.social .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}
.social .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.social .icon:hover span,
.social .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.social .facebook:hover span,
.social .facebook:hover .tooltip,
.social .facebook:hover .tooltip:before{

    background-color: rgb(0, 202, 0);
}
.social .twitter:hover span,
.social .twitter:hover .tooltip,
.social .twitter:hover .tooltip:before{

    background-color: rgb(0, 153, 255);
}
.social .instagram:hover span,
.social .instagram:hover .tooltip,
.social .instagram:hover .tooltip:before{

    background-color: rgb(255, 0, 76);
}
.social .github:hover span,
.social .github:hover .tooltip,
.social .github:hover .tooltip:before{

    background-color: rgb(0, 0, 0);
}
.social .tiktok:hover span,
.social .tiktok:hover .tooltip,
.social .tiktok:hover .tooltip:before{

    background-color: rgb(43, 1, 1);
}
@media only screen and (min-width:1092px){
    body::-webkit-scrollbar {
        width: 8px;
      }
      
      body::-webkit-scrollbar-track {
          background-color: #002849;
      }
      
      body::-webkit-scrollbar-thumb {
        background-color:  rgb(255, 136, 0);
        border-radius: 20px;
        border: 2px solid #003b6b;
      }
      
      body::-webkit-scrollbar-thumb:hover {
        background-color: #555;
      }
    .logo{
        flex-basis: 20%;
        margin-top: -10px;
        margin-left: -15px;
    }
    .logo img{
        width: 75px;
        height: 75px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        border: 3px solid  rgb(255, 136, 0);
        border-radius: 120px;
        -webkit-border-radius: 120px;
        -moz-border-radius: 120px;
        -ms-border-radius: 120px;
        -o-border-radius: 120px;
        opacity: 80%;
    
    }
    .footer-copy{
        height: 5vh;
        margin: auto;
        text-align: center;
    }
    .footer-copy span{
        height: 5vh;
        margin: auto;
        text-align: center;
    }
    .footer .copyright{
    
        color: rgb(177, 177, 177);  
       
       
    }
    .footer .copyright:link{
      
        text-decoration: none;  
        margin-top: 0px;    
        font-size: 15px;
    }
    .footer .copyright:hover{
       
         color: rgb(236, 236, 236);
       
    }
}
@media only screen and (max-width:792px){
    .logo{
        flex-basis: 20%;
    
    
    }
    .logo img{
        width: 50px;
        height: 50px;
        align-self: left;
        border: 1px solid white;
        border: 2px solid rgb(255, 136, 0);
        border-radius: 50px;
        margin-left: 0px;
        opacity: 85%;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
}
    .logo a:hover img{
        width: 50px;
        height: 50px;
        opacity: 100%;
        margin-left: 0px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    }
    .nav-links{
        flex: 1;
        text-align: center;
        margin-left: 15px;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        margin: 0 3px;
    
    }
    .nav-links ul li a{
        color: white;
        text-decoration: none;
        font-size: 10px;
    }
    .nav-links ul li a:hover{
        font-size: 10px;
        text-shadow: 0 0 6px #FF0000, 0 0 5px #0000FF;
        transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
        margin-top: -2px;
    }  
    .tab-content{
        width: 100%;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        display: block;
    
    }
   
    .player2 iframe {
        
        width : 340px;
        height : 200px;
        margin-top: -60px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .player2 .head{
        font-size: 25px;
        text-align: center;
        margin-left: auto;
        margin-top: 15px;
        color: aliceblue;
        font-family: 'Times New Roman', Times, serif;
        align-self: center;
    }
    .status{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: rgb(97, 201, 55);
    }
    .status .text{
        
        font-size: 20px;
        color: aliceblue;
        margin-top: -5px;
    }
    .status .text:hover{
        font-size: 25px;
        color: chartreuse;
    }
    .footer{
        background: rgb(53, 104, 51);
        justify-content: center;
         align-items: center;
        text-align: center;
        width: auto;
        height: auto;
    
    }
    .footer-copy{
        height: 5vh;
        margin: auto;
        text-align: center;
    }
    .footer-copy span{
        height: 5vh;
        margin: auto;
        text-align: center;
    }
    .footer .copyright{

        color: rgb(177, 177, 177);  
       
    }
    .footer .copyright:link{
      
        text-decoration: none;  
        margin-top: 0px;    
        font-size: 9px;
    }
    .footer .copyright:hover{
       
         color: rgb(236, 236, 236);
       
    }
.footer .social{
    height: 15vh;
    width: auto;
    
}
.social .icon{
    margin:0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    -moz-transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    -ms-transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    -o-transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.social .icon span{
    position: relative;
    height: 30px;
    width: 30px;
    display: block;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
   
}
.social .icon span iconify-icon{
    font-size: 15px;
    margin-top: 8px;
    background-color: transparent;
    color: black; 
}
.social .icon .upwork iconify-icon{
    margin-top: 10px;
}
.social .icon:hover .upwork iconify-icon{
    margin-top: 7px;
    font-size: 18px;
}

.social .icon:hover span iconify-icon{
    font-size: 20px;
    margin-top: 5px;
    background-color: transparent;
    color: rgb(255, 255, 255); 
}

.social .icon:hover span {
    color: #fff;

}
.social .icon span i{
    font-size: 25px;
    margin-top: 12px;
    background-color: transparent;
 
}
.social .icon:hover span {
    color: #fff;
}
.social .icon .tooltip{
    position: absolute;
    top: 0px;
    background-color: #fff;
    color: #fff;
    font-size: 10px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
   
}
.social .icon:hover .tooltip{
    top: -15px;
    opacity: 1;
    pointer-events: auto;
}
.social .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.social .icon:hover span,
.social .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.social .facebook:hover span,
.social .facebook:hover .tooltip,
.social .facebook:hover .tooltip:before{

    background-color: rgb(0, 202, 0);
}
.social .twitter:hover span,
.social .twitter:hover .tooltip,
.social .twitter:hover .tooltip:before{

    background-color: rgb(0, 153, 255);
}
.social .instagram:hover span,
.social .instagram:hover .tooltip,
.social .instagram:hover .tooltip:before{

    background-color: rgb(255, 0, 76);
}
.social .github:hover span,
.social .github:hover .tooltip,
.social .github:hover .tooltip:before{

    background-color: rgb(0, 0, 0);
}
.social .tiktok:hover span,
.social .tiktok:hover .tooltip,
.social .tiktok:hover .tooltip:before{

    background-color: rgb(43, 1, 1);
}
}