body{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18;
    background: linear-gradient(to right, rgb(88, 10, 177), red);
    height: auto;
    width: auto;
}  

.main{
    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, rgb(88, 10, 177), red);

}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;


}
.logo{
    flex-basis: 20%;


}
.logo img{
    width: 125px;
    height: 125px;
    align-self: left;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    display: inline-block;

}
.logo a:hover img{

    width: 130px;
    height: 130px;
    margin-left: -3px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li a:hover{
    font-size: 22px;
    text-shadow: 0 0 12px #17f803, 0 0 5px #e2de00;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    margin-top: -2px;
   
}
.name{
    font-size: 27px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;

}
.name:hover{
    cursor: pointer;
    font-size: 30px;
    text-shadow: 0 0 12px #17f803, 0 0 5px #e2de00;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.slider{
    width: 800px;
    height: 520px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 280px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.3);
    
}
.slides{
  
    width: 520%;
    height: 520px;
    display: flex;
    
   
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
.slide img{
    width: 800px;
    height: 520px;
}  
.man-nav{
    position: absolute;
    width: 800px;
    margin-top: 480px;
    display: flex;
    justify-content: center;
} 
.man-btn{
    border: 2px solid rgb(255, 166, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
 
}
.man-btn:not(:last-child){
    margin-right: 40px;
}
.man-btn:hover{
    background: rgb(255, 166, 0);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/*for auto nav*/
.auto-nav{
    position: absolute;
    width: 800px;
    margin-top: 480px;
    display: flex;
    justify-content: center;
} 
.auto-nav div{
    border: 2px solid rgb(255, 166, 0);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.auto-nav div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .auto-nav .auto-btn1{
    background: rgb(255, 166, 0);
}
#radio2:checked ~ .auto-nav .auto-btn2{
    background: rgb(255, 166, 0);
}
#radio3:checked ~ .auto-nav .auto-btn3{
    background: rgb(255, 166, 0);
}
#radio4:checked ~ .auto-nav .auto-btn4{
    background: rgb(255, 166, 0);
}
.footer{

    background-color:  transparent;
    width: 260px;
    height: 10vh;
    margin-left: 550px;
    

}
.footer a{
    background-color:  transparent;
    color: rgb(255, 252, 252);  
    display: flex;  

}
.footer a:link{
    background-color: transparent;
    text-decoration: none;    
    font-size: 15px;
}
.footer a:hover{
    background-color:  transparent;
     color: rgb(0, 255, 21);
   
}
.Name{
    color: rgb(255, 255, 255);
    margin-top: 25px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9 {
    width: 80px;
    height: 52px;
    margin: auto;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
    color: #17f803;
 
}
#b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9:hover {
    width: 80px;
    height: 52px;
    margin: auto;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    
}
 /* Reset Button */
 #but {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
    border-radius: 4px;
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;

    background-color:rgb(188, 255, 30);
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
}
#but:hover {
    box-sizing: border-box;
    width: 95px;
    height: 42px;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
    border-radius: 4px;
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;

    background-color:rgb(49, 255, 30);
    color: rgb(255, 255, 255);
    font-size: 22px;
    cursor: pointer;
}
 /* Player turn space */
 #print {
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;

    color: rgb(49, 255, 30);
    font-size: 20px;
}

/* Main Container */
#game {
    text-align: center;
}

/* Game Instruction Text */
#ins {
    font-family: 'Times New Roman', Times, serif;
     
    color: rgb(255, 255, 255);
    font-size: 20px;
}
@media only screen and (max-width:700px){
    .logo{
        flex-basis: 20%;
    
    
    }
    .logo img{
        width: 80px;
        height: 80px;
        align-self: left;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        border-radius: 95px;
        -webkit-border-radius: 95px;
        -moz-border-radius: 95px;
        -ms-border-radius: 95px;
        -o-border-radius: 95px;
}
    .logo a:hover img{
        width: 90px;
        height: 90px;
        margin-left: -15px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        border-radius: 120px;
        -webkit-border-radius: 120px;
        -moz-border-radius: 120px;
        -ms-border-radius: 120px;
        -o-border-radius: 120px;
        transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    }
    .nav-links{
        flex: 1;
        text-align: right;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        margin: 0 3px;
    
    }
    .nav-links ul li a{
        color: white;
        text-decoration: none;
        font-size: 10px;
    }
    .nav-links ul li a:hover{
        font-size: 12px;
        text-shadow: 0 0 12px #FF0000, 0 0 5px #0000FF;
        transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
        margin-top: -2px;
    } 
    .name{
        font-size: 20px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: aliceblue;
    
    }
    .name:hover{
        cursor: pointer;
        font-size: 22px;
        text-shadow: 0 0 12px #17f803, 0 0 5px #e2de00;
        transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    }
    .slider{
        width: 300px;
        height: 220px;
        border-radius: 10px;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0 20px 20px rgba(0,0,0,0.3);
        
    }
    .slides{
      
        width: auto;
        height: auto;
        display: flex;
        
       
    }
    .slides input{
        display: none;
    }
    .slide{
        width: 20%;
        transition: 2s;
        -webkit-transition: 2s;
        -moz-transition: 2s;
        -ms-transition: 2s;
        -o-transition: 2s;
    }
    .slide img{
        width: 300px;
        height: 220px;
        margin-left: auto;
        margin-right: auto;
    }  
    .man-nav{
        position: absolute;
        width: 10px;
        height: 10px;
        display: flex;
        margin: auto;
        justify-content: center;
        margin-left: -150px;
        
    } 
    .man-btn{
        border: 2px solid rgb(255, 166, 0);
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: 1s;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
    .man-btn:not(:last-child){
        margin-right: 40px;
    }
    .man-btn:hover{
        background: rgb(255, 166, 0);
    }
    #radio1:checked ~ .first{
        margin-left: 0;
    }
    #radio2:checked ~ .first{
        margin-left: -20%;
    }
    #radio3:checked ~ .first{
        margin-left: -40%;
    }
    #radio4:checked ~ .first{
        margin-left: -60%;
    }
    /*for auto nav*/
    .auto-nav{
        position: absolute;
        width: 10px;
        height: 10px;
        display: flex;
        margin: auto;
        justify-content: center;
    } 
    .auto-nav div{
        border: 2px solid rgb(255, 166, 0);
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    .auto-nav div:not(:last-child){
        margin-right: 40px;
    }
    #radio1:checked ~ .auto-nav .auto-btn1{
        background: rgb(255, 166, 0);
    }
    #radio2:checked ~ .auto-nav .auto-btn2{
        background: rgb(255, 166, 0);
    }
    #radio3:checked ~ .auto-nav .auto-btn3{
        background: rgb(255, 166, 0);
    }
    #radio4:checked ~ .auto-nav .auto-btn4{
        background: rgb(255, 166, 0);
    }
    .footer a{
        color: white;  
        display: flex;  
        width: auto;
        height: auto;   
    }
    .footer a:link{
        background-color: transparent;
        text-decoration: none;  
        margin-left: -480px;   
        font-size: 12px;
        text-align: center;
    }
    .footer a:hover{
        background-color: transparent;
         color: rgb(0, 255, 21);
       
    }
}