*{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18;
    background: rgb(88, 10, 177)
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: rgb(88, 10, 177)

}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;


}
.logo{
    flex-basis: 20%;


}
.logo img{
    width: 125px;
    height: 125px;
    align-self: left;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    display: inline-block;
}
.logo a:hover img{
    width: 126px;
    height: 126px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: inline-flex;
    
}
.nav-links ul li a:hover{
    font-size: 22px;
    text-shadow: 0 0 12px #FF0000, 0 0 5px #0000FF;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    margin-top: -2px;
}
.info{
    width: 1000px;
    height: 1000px;
    position:absolute;
    top: 50%;
    left: -10%;
    transform: translateY (-50%);
    
}

.data{

    flex: content;
    text-align: center;

}
.data p{

    color: white;
    text-decoration: none;
}
.status{
 
    align-self: flex-end;
   
    
}
.sec{
    width: 1500px;
    height: 850px;
    position: relative;

}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: auto;
    border: 5px solid rgb(255, 136, 0);
        padding: 20px;   
 
}
.profile{
    width: auto;
    height: auto;
}
.profile img{
    margin-left: -150px;
    margin-top: -40px;

}
.wrapper .static-text{

    font-size: 60px;
    color: aliceblue;
    margin-top: 5px;


}
.wrapper .dynamic-text{
    
    margin-left: 20px;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    
  
}
.dynamic-text li{
    list-style: none;
    font-size: 60px;
    font-weight: 700;
    color: rgb(255, 172, 62);
    position:relative;
    top: 0;
    animation: slide 16s steps(4) infinite;
    -webkit-animation: slide 16s steps(4) infinite;
}
@keyframes slide {
    100%{
        top: -315px;
    }
}
.dynamic-text li span {
    position: relative;
   
}
.dynamic-text li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(88, 10, 177);
    border-left: 2px solid rgb(255, 172, 62);
    animation: typing 4s steps(13) infinite;
    -webkit-animation: typing 4s steps(13) infinite;
}
@keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }

.footer{

    background-color:  rgb(88, 10, 177);
  
    margin-left: 550px;

}
.footer a{

    color: white;  
    display: flex;     
}
.footer a:link{
    background-color: white;
    text-decoration: none;  
    margin-top: 0px;    
    font-size: 15px;
}
.footer a:hover{
    background-color:  rgb(88, 10, 177);
     color: rgb(0, 255, 21);
   
}
.footer .social{

    display: inline-flex;
    height: 100vh;
    width: auto;
}
.social .icon{
    margin :0 20px;
    margin-top: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.social .icon span{
    position: relative;
    height: 50px;
    width: 50px;
    display: block;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
   
}
.social .icon span iconify-icon{
    font-size: 25px;
    margin-top: 12px;
    background-color: transparent;
    color: black; 
}
.social .icon .upwork iconify-icon{
    margin-top: 14px;
}
.social .icon:hover .upwork iconify-icon{
    margin-top: 14px;
}

.social .icon:hover span iconify-icon{
    font-size: 25px;
    margin-top: 12px;
    background-color: transparent;
    color: rgb(255, 255, 255); 
}
.social .icon span i{
    font-size: 25px;
    margin-top: 12px;
    background-color: transparent;
 
}
.social .icon:hover span {
    color: #fff;
}
.social .icon .tooltip{
    position: absolute;
    top: 0px;
    background-color: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
   
}
.social .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}
.social .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.social .icon:hover span,
.social .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.social .facebook:hover span,
.social .facebook:hover .tooltip,
.social .facebook:hover .tooltip:before{

    background-color: rgb(0, 202, 0);
}
.social .twitter:hover span,
.social .twitter:hover .tooltip,
.social .twitter:hover .tooltip:before{

    background-color: rgb(0, 153, 255);
}
.social .instagram:hover span,
.social .instagram:hover .tooltip,
.social .instagram:hover .tooltip:before{

    background-color: rgb(255, 0, 76);
}
.social .github:hover span,
.social .github:hover .tooltip,
.social .github:hover .tooltip:before{

    background-color: rgb(0, 0, 0);
}
.social .tiktok:hover span,
.social .tiktok:hover .tooltip,
.social .tiktok:hover .tooltip:before{

    background-color: rgb(43, 1, 1);
}
@media only screen and (max-width:700px){
    .logo{
        flex-basis: 20%;
    
    
    }
    .logo img{
        width: 80px;
        height: 80px;
        align-self: left;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        border-radius: 95px;
        -webkit-border-radius: 95px;
        -moz-border-radius: 95px;
        -ms-border-radius: 95px;
        -o-border-radius: 95px;
}
    .logo a:hover img{
        width: 90px;
        height: 90px;
        margin-left: -15px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        border-radius: 120px;
        -webkit-border-radius: 120px;
        -moz-border-radius: 120px;
        -ms-border-radius: 120px;
        -o-border-radius: 120px;
        transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    }
    .nav-links{
        flex: 1;
        text-align: right;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        margin: 0 3px;
    
    }
    .nav-links ul li a{
        color: white;
        text-decoration: none;
        font-size: 10px;
    }
    .nav-links ul li a:hover{
        font-size: 12px;
        text-shadow: 0 0 12px #FF0000, 0 0 5px #0000FF;
        transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
        margin-top: -2px;
    } 
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        height: auto;
        border: 5px solid rgb(255, 136, 0);
            padding: 20px;   
     
    }
    .profile{
        width: auto;
        height: auto;
    }
    .profile img{
        margin-left: -20px;
        margin-top: 0px;
        width: 150px;
        height: 150px;
    }
    .wrapper .static-text{

        font-size: 12px;
        color: aliceblue;
        margin-top: 4px;
        display: flex;
    
    }
    .wrapper .dynamic-text{
        
        margin-left: 10px;
        height: 80px;
        line-height: 80px;
        overflow: hidden;
        
      
    }
    .dynamic-text li{
        list-style: none;
        font-size: 12px;
        font-weight: 700;
        color: rgb(255, 172, 62);
        position:relative;
        top: 0;
        animation: slide 16s steps(4) infinite;
        -webkit-animation: slide 16s steps(4) infinite;
    }
    @keyframes slide {
        100%{
            top: -315px;
        }
    }
    .dynamic-text li span {
        position: relative;
       
    }
    .dynamic-text li span::after{
        content: "";
        position: absolute;
        left: 0;
        margin-top: 30px;
        height: 100%;
        width: 100%;
        background: rgb(88, 10, 177);
        border-left: 2px solid rgb(255, 172, 62);
        animation: typing 4s steps(13) infinite;
        -webkit-animation: typing 4s steps(13) infinite;
    }
    @keyframes typing {
        40%, 60%{
          left: calc(100% + 30px);
        }
        100%{
          left: 0;
        }
      }
      .footer{
    
        background-color:  rgb(88, 10, 177);
      
        margin-left: 70px;
    
    }
    .footer a{
        color: white;  
        display: flex;     
    }
    .footer a:link{
        background-color:  rgb(88, 10, 177);
        text-decoration: none;  
        margin-top: 15px;    
        font-size: 12px;
    }
    .footer a:hover{
        background-color:  rgb(88, 10, 177);
         color: rgb(0, 255, 21);
       
    }

.footer .social{

    display: inline-flex;
   
    
}
.social .icon{
    margin :0 5px;
    margin-top: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.social .icon span{
    position: relative;
    height: 30px;
    width: 30px;
    display: block;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
   
}
.social .icon span iconify-icon{
    font-size: 15px;
    margin-top: 8px;
    background-color: transparent;
    color: black; 
}
.social .icon .upwork iconify-icon{
    margin-top: 10px;
}
.social .icon:hover .upwork iconify-icon{
    margin-top: 10px;
}

.social .icon:hover span iconify-icon{
    font-size: 25px;
    margin-top: 12px;
    background-color: transparent;
    color: rgb(255, 255, 255); 
}
.social .icon span i{
    font-size: 25px;
    margin-top: 12px;
    background-color: transparent;
 
}
.social .icon:hover span {
    color: #fff;
}
.social .icon .tooltip{
    position: absolute;
    top: 0px;
    background-color: #fff;
    color: #fff;
    font-size: 10px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
   
}
.social .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}
.social .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.social .icon:hover span,
.social .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.social .facebook:hover span,
.social .facebook:hover .tooltip,
.social .facebook:hover .tooltip:before{

    background-color: rgb(0, 202, 0);
}
.social .twitter:hover span,
.social .twitter:hover .tooltip,
.social .twitter:hover .tooltip:before{

    background-color: rgb(0, 153, 255);
}
.social .instagram:hover span,
.social .instagram:hover .tooltip,
.social .instagram:hover .tooltip:before{

    background-color: rgb(255, 0, 76);
}
.social .github:hover span,
.social .github:hover .tooltip,
.social .github:hover .tooltip:before{

    background-color: rgb(0, 0, 0);
}
.social .tiktok:hover span,
.social .tiktok:hover .tooltip,
.social .tiktok:hover .tooltip:before{

    background-color: rgb(43, 1, 1);
}
}
