*{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18;
    background: rgb(88, 10, 177)
}

.main{
    width: 100%;
    position: relative;
    overflow: hidden;
    background: rgb(88, 10, 177)

}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;


}
.logo{
    flex-basis: 20%;


}
.logo img{
    width: 125px;
    height: 125px;
    align-self: left;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;

}
.logo a:hover img{
    width: 130px;
    height: 130px;
    margin-left: -3px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li a:hover{
    font-size: 22px;
    text-shadow: 0 0 12px #FF0000, 0 0 5px #0000FF;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    margin-top: -2px;
}
body{

    background: rgb(88, 10, 177);
}
.status{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:rgb(88, 10, 177);
}
.status .text{
    
    font-size: 60px;
    color: aliceblue;
    margin-top: 5px;
}
.status .text:hover{
    font-size: 70px;
    color: chartreuse;
}
.footer{

    background-color:  rgb(88, 10, 177);
  
    margin-left: 520px;

}
.footer a{

    color: white;  
    display: flex;     
}
.footer a:link{
    background-color: white;
    text-decoration: none;  
    margin-top: 15px;    
    font-size: 15px;
}
.footer a:hover{
    background-color:  rgb(88, 10, 177);
     color: rgb(0, 255, 21);
   
}
.tab-content{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
#player2 iframe {
    align-self: center;
    justify-content: center;
    align-items: center;
    width : 698px;
    height : 400px;
    margin-left: 320px;
}
#player2 .head{
    font-size: 40px;
    height: 100px;
    margin-left: 430px;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
}
@media only screen and (max-width:700px){
    .logo{
        flex-basis: 20%;
    
    
    }
    .logo img{
        width: 80px;
        height: 80px;
        align-self: left;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        border-radius: 95px;
        -webkit-border-radius: 95px;
        -moz-border-radius: 95px;
        -ms-border-radius: 95px;
        -o-border-radius: 95px;
}
    .logo a:hover img{
        width: 90px;
        height: 90px;
        margin-left: -15px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        border-radius: 120px;
        -webkit-border-radius: 120px;
        -moz-border-radius: 120px;
        -ms-border-radius: 120px;
        -o-border-radius: 120px;
        transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
    }
    .nav-links{
        flex: 1;
        text-align: right;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        margin: 0 3px;
    
    }
    .nav-links ul li a{
        color: white;
        text-decoration: none;
        font-size: 10px;
    }
    .nav-links ul li a:hover{
        font-size: 22px;
        text-shadow: 0 0 12px #FF0000, 0 0 5px #0000FF;
        transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
        margin-top: -2px;
    }  
    .tab-content{
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
    
    }
    #player2 iframe {
        align-self: center;
        justify-content: center;
        align-items: center;
        width : 340px;
        height : 200px;
        margin-left: 10px;
    }
    #player2 .head{
        font-size: 25px;
        height: 100px;
        margin-left: 30px;
        margin-top: 30px;
        color: aliceblue;
        font-family: 'Times New Roman', Times, serif;
        align-self: center;
    }
    .status{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background:rgb(88, 10, 177);
    }
    .status .text{
        
        font-size: 20px;
        color: aliceblue;
        margin-top: -5px;
    }
    .status .text:hover{
        font-size: 25px;
        color: chartreuse;
    }
    .footer{
    
        background-color:  rgb(88, 10, 177);
      
        margin-left: 70px;
    
    }
    .footer a{
        color: white;  
        display: flex;     
    }
    .footer a:link{
        background-color:  rgb(88, 10, 177);
        text-decoration: none;  
        margin-top: 15px;    
        font-size: 12px;
    }
    .footer a:hover{
        background-color:  rgb(88, 10, 177);
         color: rgb(0, 255, 21);
       
    }
}